
body {
	font-size: 13px;
	background-color: #81b334;
	font-family: Arial,sans-serif;
  	line-height: 1.3em;   	
  	color: #ffffff;  
}

div#globalbox{
	padding: 20px 0 0 0;
	font-weight: bold;
}
	
div#boxleft{
	float: left;
	width: 380px;	
	padding: 0 20px 0 10px;
	text-align: right;	
}

div#boxright{
	float: left;
	width: 390px;
	padding: 0 10px 0 20px;
	border-left: 2px solid #444444;
	text-align: right;
}

div#globalbox h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

button.btnfleche {display: block; padding-right: 35px; background: url(./img/fleche.png) no-repeat top right; border: 0; font-weight: bold; color: #ffffff; height: 27px; line-height: 27px; font-size: 13px; float: right;}

form label{font-weight: bold;}

